* {
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    background-color: teal;
    color:white;
    height: 5rem;
    line-height: 5rem;
}
.choice 
{
   height: 100px;
   width:100px;
   border-radius:50%;
   display: flex;
   justify-content:center;
   align-items: center;

   
}
img{
    height: 100px;
    width:100px;
    object-fit:cover;
    border-radius:50%;

}
.choices{
      display: flex;
      justify-content:center;
      gap:3rem;
      align-items: center;
      margin-top: 5rem;
}
.choice:hover{
    opacity:0.5;
    cursor:pointer;
    background-color: darkblue;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    font-size :2rem;
    gap:5rem;
}
#user-score,#comp-score{
    font-size: 2rem;
}
.msg-container{
    margin-top:5rem;
}
#msg{

    background-color: teal;
    color:bisque;
    font-size: 2rem;
    margin-top:3rem;
    display:inline;
    border-radius:1rem;
    padding:1rem;


}